@import '@/styles/mixins';
@import '@/styles/color';

.loginWrapper {
  @include column-flexbox();
  position: relative;
  height: 100vh;
  background-color: white;
}

.title {
  margin-top: 43px;
  font-size: 24px;
  font-weight: 700;
  color: $logo;
}

.subTitle {
  margin-top: 18px;
  font-size: 18px;
  font-weight: 400;
  color: lightGray;
}

.btnWrap {
  position: absolute;
  bottom: 60px;
}
