@import '@/styles/mixins';
@import '@/styles/color';

.loginWrapper {
  @include column-flexbox('between');
  position: relative;
  padding: 60px;
  height: 100vh;
  background-color: white;
}

.infoBox {
  @include column-flexbox();
}

.title {
  @include typo(logo, bold);
  margin-top: 43px;
  color: $logo;
}

.subTitle {
  @include typo(xl);
  margin-top: 18px;
  color: $lightGray;
}

.btnWrap {
  position: absolute;
  width: 100%;
  bottom: 60px;
}
