@import '@/styles/mixins';

.container {
  @include column-flexbox();
  width: 100%;
  gap: 20px;
}

.iconWrap {
  position: fixed;
  width: 465px;
  top: 0;
  margin-top: 15px;
  margin-left: 15px;
}

.back {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.pageNationBox {
  display: flex;
  align-items: center;
  gap: 10px;
}

.pageMoveBtn {
  cursor: pointer;
}
