@import '@/styles/mixins';

.container {
  padding: 40px;
}

.touchableOpacity {
  @include flexbox();
  font-weight: 700;
  color: #fff;
  transition: opacity 300ms ease-in-out;

  &:hover {
    cursor: pointer;
  }

  &:active {
    opacity: 0.5;
  }
}
