@import '@/styles/mixins';
@import '@/styles/color';

.container {
  @include column-flexbox('between');
  position: relative;
  padding: 60px 50px;
  height: 100vh;
}

.backBtn {
  position: absolute;
  top: 37px;
  left: 37px;
  cursor: pointer;
}

.mainTitle {
  margin-top: 100px;
  font-weight: 400;
  color: $mainBlack;
}
