@import '@/styles/mixins';
@import '@/styles/color';

.container {
  @include column-flexbox();
}

.description {
  text-align: center;
  line-height: 1.4;
  font-size: 16px;
  color: $mainBlack;
}

.buttonWrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
