.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.imageBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 20px 0 50px;
}

.button {
  width: 300px;
}
